<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>PASS User Application</name>

<description>
A simple PhoneGap Build application for the PASS, a senior design project for UCF EE/CPE students.
</description>

<author href="https://example.com" email="DevinErickson@knights.ucf.edu">
Devin Erickson
</author>

<!-- Include the Bluetooth Plugin -->
<gap:plugin name="com.megster.cordova.bluetoothserial" />

</widget>
